/* Font imports and global styles */
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

:root {
  /* --available-color-schemes: light dark; */
  --available-color-schemes: dark;
  --background-color: light-dark(#fff8dc, #2c2c2c);
  --text-color: light-dark(#333333, #ffffff);
  color-scheme: var(--available-color-schemes);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: url("https://images.unsplash.com/photo-1620121692029-d088224ddc74?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1632&q=80g"); /* Default background image */
  background-size: cover;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Pomodoro container styles */
#pomodoro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 500px;
  margin: 0 auto;
  /* padding: 1.1rem; */
  box-sizing: border-box;
}

/* Interval container styles */
#interval-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Timer container styles */
#timer-container {
  margin-top: 0.125rem;
}

/* Start/stop/reset container styles */
#start-stop-reset-container {
  margin-top: 0.125rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Time left styles */
#time-left {
  font-family: "Karla", sans-serif;
  font-size: clamp(3rem, 30vw, 10.375rem);
  font-weight: 800;
  text-align: center;
  margin-bottom: 1rem;
  letter-spacing: -5px;
  cursor: pointer;
}

/* Button styles */
.interval-btn,
#start-stop-btn,
#reset-btn,
#settings-btn {
  border-radius: 50px;
  border: 1px solid white;
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  margin: 0.313rem;
  padding: 0.313rem 0.5rem;
  text-align: center;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  background-color: transparent; /* Set the background color to transparent */
}

@media (max-width: 400px) {
  .interval-btn span {
    display: none;
  }
}

.interval-btn:hover,
#start-stop-btn:hover,
#reset-btn:hover,
#settings-btn:hover {
  background-color: white;
  color: black;
  border-color: white;
  cursor: pointer;
}

/* Settings modal styles */
#settings-modal {
  font-family: Rubik;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  width: 300px;
  font-family: Rubik;
  color: black;
  align-items: center;
  justify-content: center;
  background-color: #f7f6f3;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 10px;
  color: #000;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.setting-option {
  align-items: center;
  font-family: Rubik;
  margin-bottom: 10px;
}

.setting-wrapper {
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.setting-option label {
  text-align: center;
  align-items: center;
  font-family: Rubik;
  margin-right: 10px;
}

#save-btn {
  margin-top: 10px;
  width: 60%;
  font-family: Rubik;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 100px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#save-btn:hover {
  background-color: grey;
  color: white;
  width: 60;
}

#option {
  font-family: Rubik;
}

select {
  /* A reset of styles, including removing the default dropdown arrow */
  appearance: none;
  /* Additional resets for further consistency */
  background-color: transparent;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  padding: 0 1em 0 0.5em;
  margin: 10px;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}


/* Media Query for Responsive Design */
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
    overflow-y: auto; /* Allowing vertical scrolling */
  }

  #pomodoro-container {
    max-width: 100%;
  }

  /* Adjust other styles as needed for responsive behavior */
}